.message-content__wrapper .time {
	font-size: calc(var(--font_size_main_2) - 1px);
	height: calc(var(--font_size_main_2) - 1px);
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	line-height:1;
	vertical-align:middle;
	pointer-events:none;
	display:inline-flex;
	z-index:1;
	direction:ltr;
	float:right;
	cursor:pointer;
}

.message-content__wrapper .time .i18n:not(.inner .i18n) {
	visibility:hidden;
	padding-left: 4px;
}

/* 图片时间 */
.message-content__wrapper .time.time_img .i18n:not(.inner .i18n) {
	visibility:hidden;
	padding-left: 0px;
}

.av-msg .inner {
    right: 2px!important;
}
.message-content__wrapper .time i {
	font-size:1.125rem;
	margin-right:.375rem
}

/* 时间样式 */
.message-content__wrapper .time .inner {
	pointer-events:all;
	position:absolute;
	bottom:0;
	/*right:-7px;*/
	display:flex;
	align-items:center;
	line-height:1;
	padding:inherit;
	white-space:nowrap;
	height:calc(var(--font_size_main_2) - 1px);
	visibility:visible;
	color:rgba(0,0,0,.5);
	padding-left: 4px;
}

/* 图片时间 */
.message-content__wrapper .time.time_img .inner {
	padding-left: 0px;
}

/* 链接预览 */
.message-content__wrapper .title,
.message-content__wrapper .text {
	/*
	word-break:break-word;
	margin-top:1px
	*/
	max-width: 300px;
	word-wrap: break-word;
}

.message-content__wrapper .quote {
	overflow:hidden;
	display:flex;
}
.message-content__wrapper .quote:before {
	flex:0 0 auto;
	width:.125rem;
	border-radius:.125rem;
	background-color:#3390ec;
	margin:.1875rem .5rem .125rem 0;
	content:" "
}
.message-content__wrapper .media-photo {
	max-width: 300px;
}
.message-content__wrapper .quote-text {
	padding-left:.625rem;
	margin-left:-.625rem;
	display:flex;
	flex-direction: column;
}

.message-content__wrapper .quote:hover {
    background-color: var(--overlay_hover);
}


.user_name_time {
	margin-left: 10px;
}

.qqpromote_video_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* filter: blur(5px); */
	background-color: rgba(255,255,255,1.0); /* 半透明白色遮罩 */
	pointer-events: none;
}

video.qqpromote_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	pointer-events: none;
}