/* 外边距 */
.qqpromote .plugin-config-view {
  margin: 20px;
}



/* 每节的标题 */
.qqpromote h1 {
  color: var(--text_primary);
  font-weight: var(--font-bold);
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  padding: 0px 16px;
  margin-bottom: 8px;
}

.qqpromote .wrap {
  /* Linux样式兼容：--fg_white */
  background-color: var(--fill_light_primary, var(--fg_white));
  border-radius: 8px;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0px 16px;
}

.qqpromote .wrap .title {
  cursor: pointer;
  font-size: min(var(--font_size_3), 18px);
  line-height: min(var(--line_height_3), 24px);
}

.qqpromote .wrap .title .icon {
  width: 1em;
  height: 1em;
  transform: rotate(-180deg);
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: transform;
}

.qqpromote .wrap .title .icon.is-fold {
  transform: rotate(0deg);
}


/* 水平分割线 */
.qqpromote .horizontal-dividing-line {
  border: unset;
  margin: unset;
  height: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}

/* 纵向分割线 */
.qqpromote .vertical-dividing-line {
  border: unset;
  margin: unset;
  width: 1px;
  background-color: rgba(127, 127, 127, 0.15);
}



/* 按钮布局 */
.qqpromote .ops-btns {
  display: flex;
}

/* 副文本 */
.qqpromote .secondary-text {
  color: var(--text_secondary);
  font-size: min(var(--font_size_2), 16px);
  line-height: min(var(--line_height_2), 22px);
  margin-top: 4px;
}



/* 隐藏 */
.qqpromote .hidden {
  display: none !important;
}

/* 禁用 */
.qqpromote .disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* 选择框按钮 */
.qqpromote .q-pulldown-menu-button {
  align-items: center;
}

/* 选择框按钮-文本 */
.qqpromote .q-pulldown-menu-button .content {
  width: 80px;
}

/* 选择框按钮-图标 */
.qqpromote .q-pulldown-menu-button .icon {
  width: 16px;
  height: 10px;
}

/* 选择框选项菜单
.qqpromote .q-context-menu {
  z-index: 4000;
  margin-top: 5px;
  width: 122px;
}
 */
 
/* 选择框选项菜单-图标 */
.qqpromote .q-context-menu .icon {
  display: none;
  width: 1em;
  height: 1em;
}

/* 选择框选项菜单-选择后图标 */
.qqpromote .q-context-menu .selected .icon {
  display: block !important;
}

/* 文本框 */
.qqpromote .text-input {
  align-self: normal;
  flex: 1;
  height: auto;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 100ms ease-out;
}

/* 文本框-一直聚焦 */
.qqpromote .text-input.focus {
  padding-left: 5px;
  background-color: var(--overlay_active);
}

/* 文本框-聚焦 */
.qqpromote .text-input:focus {
  padding-left: 5px;
  background-color: var(--overlay_active);
}

/* 纵向列表条目 */
.qqpromote .vertical-list-item {
  cursor: pointer;
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:width 2s;
}

/* 纵向列表条目-文本 */
.qqpromote .vertical-list-item.text {
  gap: 5px; /* 设置子元素的间距 */
  cursor: default;
}

.qqpromote .radio-input {
  appearance: auto;
  cursor:pointer;
}

/* 列表 */
.qqpromote .column-list-item {
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
}

.qqpromote .column-list-item input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

/* 按钮 */
.qqpromote .q-button {
  cursor: pointer;
}

.nested-enter-active {
  transition-delay: 0.25s;
}

.nested-enter-active,
.nested-leave-active { 
  transition: all 0.3s ease-in-out;
}

.nested-enter-from,
.nested-leave-to {
  transform: translateX(30px);
  opacity: 0.001;
}

/* 夜间模式-输入框 */
@media (prefers-color-scheme: dark) {
  .qqpromote input {
      color: rgb(255, 255, 255);
  }
}