.qqpromote .translate-input:focus {
  padding-left: 5px;
  background-color: var(--overlay_active);
}

.qqpromote .vertical-list-item {
  cursor: pointer;
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:width 2s;
}

.qqpromote .translate-input {
  align-self: normal;
  flex: 1;
  border-radius: 4px;
  margin-right: 16px;
  transition: all 100ms ease-out;
}

.qqpromote input {
  appearance: auto;
  cursor:pointer;
}

.qqpromote .column-list-item {
  margin: 12px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.qqpromote .column-list-item input {
  padding: 5px;
}

.nested-enter-active {
  transition-delay: 0.25s;
}

.nested-enter-active .translate-input,
.nested-leave-active .translate-input,
.nested-enter-active .translate-div,
.nested-leave-active .translate-div { 
  transition: all 0.3s ease-in-out;
}

.nested-enter-from .translate-input,
.nested-leave-to .translate-input,
.nested-enter-from .translate-div,
.nested-leave-to .translate-div {
  transform: translateX(30px);
  opacity: 0.001;
}
