<div class="wrap" id="qqpromote">
    <div class="vertical-list-item" @click="repeatmsg = !repeatmsg">
        <div>
            <h2>开启双击消息复读</h2>
            <span class="secondary-text">双击聊天消息复读消息</span>
        </div>
        <div class="switchBackgroundImage q-switch" :class="{ 'is-active': repeatmsg }">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item" @click="rpmsg_location = !rpmsg_location">
        <div>
            <h2>开启+1菜单顶置</h2>
            <span class="secondary-text">重启生效</span>
        </div>
        <div class="switchBackgroundImage q-switch" :class="{ 'is-active': rpmsg_location }">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item" @click="show_time = !show_time">
        <div>
            <h2>开启消息显示时间</h2>
            <span class="secondary-text">开启消息显示时间</span>
        </div>
        <div class="switchBackgroundImage q-switch" :class="{ 'is-active': show_time }">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item" @click="translate = !translate">
        <div>
            <h2>开启消息翻译</h2>
            <span class="secondary-text">消息翻译</span>
        </div>
        <div class="switchBackgroundImage q-switch" :class="{ 'is-active': translate }">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <div class="vertical-list-item" v-if="translate">
        <input class="translate-input" spellcheck="false" v-model="translate_SECRET_ID">
    </div>
    <div class="vertical-list-item" v-if="translate">
        <input class="translate-input" spellcheck="false" v-model="translate_SECRET_KEY">
    </div>
</div>